* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
  }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #596e79;
  color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-teste{
  /* background: rgb(0, 0, 0); */
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.container{
  margin: 0 5%;
}
.title{
  padding: 1rem;
}
.title{
  text-shadow: 2px 2px 2px rgba(53, 53, 53, 0.46);
  margin-bottom: 1rem;
}

@media (max-width: 940px){
  .div-teste{
      display: block;
  }
  
}