.form-sign-quotes{
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.form-sign-quotes label{
    font-size: 1rem;
}
.form-sign-quotes textarea{
    font-size: 1.2rem;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}
.input-submit{
    float: right;
    font-size: 1rem;
    padding: 0.2em 0.6em;
    background: #393e46;
    outline: none;
    margin: 0.7rem 0;
    transition: 1s;
    color: #eeeeee;
    border: none;
    width: 45%;
    border-radius: 5px 5px 5px 5px;
}
.input-submit:hover{
    box-shadow: 2px 7px #32e0c4;
    background: #222831;
}
.input-submit::-ms-browse{
    box-shadow: 2px 7px #32e0c4;
    background: #eeeeee;
}
.input-text{
    font-size: 1rem;
    background: #393e46;
    border: 0;
    margin: 0.7rem 0;
    color: #FFF;
    transition: box-shadow 1s;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    padding: 0.5rem;
    box-sizing: border-box;
}

.input-text:hover {
    box-shadow: 2px 7px #32e0c4;
    background: #222831;
}
.input-text:focus{
    background: #393e46;
    border: none;
    outline: none;

}

.input-delete{
    float: left;
    font-size: 1rem;
    padding: 0.2em 0.6em;
    background: #393e46;
    outline: none;
    margin: 0.7rem 0;
    transition: 1s;
    color: #eeeeee;
    border: none;
    width: 45%;
    border-radius: 5px 5px 5px 5px;
}

@media (max-width: 940px){
    .form-sign-quotes{
        width: 100%;
    }
  }